.footer {
        padding: 70px 0 30px;
        background-color: #F6F6F8;
}
.footer-box {
        display: flex;
        gap: 30px;
        justify-content: space-between;
        padding-bottom: 70px;
        border-bottom: #E0E0E0 1px solid;
}
.contacts-title,
.links-title,
.projects-title,
.social-title {
        font-weight: 600;
        font-size: 18px;
        color: #000;
        margin-bottom: 35px;
}
.contacts-item:not(:last-child),
.links-item:not(:last-child),
.projects-item:not(:last-child),
.social-item:not(:last-child) {
        margin-bottom: 30px;
}
.contacts-icon,
.arrow-icon {
        fill: currentColor;
}
.contacts-link,
.links-link,
.projects-link,
.social-link {
        display: flex;
        gap: 10px;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.58;
        color: #999;
}
.copyright {
        padding-top: 30px;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.58;
        text-align: center;
        color: #999;
}